.btn {
    width: 206px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
   
}

.btn:active {
	transform: scale(.9);
}
.btn-dark {
    background-color:var(--primary-color);
    color:var(--white);
}
.btn-dark:hover {
    filter: brightness(1.5);
}

.btn-light {
    background-color:var(--white);
    color:var(--primary-color);
   
}
.btn-light:hover {
    color: var(--white);
	background: var(--primary-color);
}
.btn_1{
    width: 206px;
    height: 40px;
    margin-top: 54px;
}
.btn_2{
    width: 296px;
    height: 40px;
}
.btn_3{
    width: 346px;
    height: 40px;
}
.btn_4{
    width: 362px;
    height: 40px;
}


