.container_Login {
  
    background-color: #FFE4E3;
    border-radius: 8px;
    padding: 13px 14px;
    height: 860px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form_login{
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.text-primary{
    margin-bottom: 30px;
}
