.header {
	display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 10;
    padding-inline: 2rem;
    width:  100%;
}

.header__slogan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.header__slogan p {
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: var(--secondary-accent-color);
}