.main-container__detail {
    width: 310px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: 18px;
}
.container-detail_category {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px;
    height: 65px;

}
.container-detail_info {
    width: 300px;
    height: 80px;

    display: flex;
    flex-direction: row;
}
