.container_search {
    width: 100%;
    height: 161px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_search_cities_date {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;



}

.container_search_title {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.container_search_title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}

.container_search_dropdown {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 22px 168px 20px 170px;

}

.container_search_dropdown_input {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2px;


}

.container_search_button {

}