.container_search {
    width: 100%;
    height: 161px;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 9;
    position: fixed;
}

.container_search_cities_date {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 0px 170px;
}

.container_search_title {
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

.container_search_title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin-top: 10px;
}

.container_search_dropdown {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.container_search_dropdown_input {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    



}

.container_search_button {}