.container_search {
    width: 960px;
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-color);
}

.container_search h1 {
    color: white;
    padding-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center
}
.container_search_cities_date{
    width: 850px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}