.main_container_cards {
    width: 100%;
    height: 711px;
    background-color: #DFE4EA;
    ;
}
.main_container_cards h2 {
    font-size: 20px;
	margin-block: 16px;
	color: var(--secondary-color)  ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding:  19px 28px 0px 48px;
    

}
.container_cards {
    width: 635px;
    height: 283px;
    background: #FFFFFF;
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 48px;
   
   

 
    
}

.container_card_detail{
    width: 100%;
    height: 283px;
    background: #FFFFFF;
    border: 1px solid #DFE4EA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  

 
  
   
}
.container_cards_img img {
    height: 283px;
    width: 311px;
    background: url(inner-space-1026452_640.jpg);
    border-radius: 8px 8px 8px 8px;
    transform: rotate(-0.16deg);

}
.container_cards_info{
    width: 635px;
    height: 283px;
 display: flex;
 flex-direction: column;
    justify-content: center;
}
