/* VARIABLES */
* {
	/* MAIN COLOR PALETTE */
	--primary-color: #F0572D;
	--secondary-color: #31363F;
	--secondary-accent-color: #191B1D;
	--accent-color: #DFE4EA;
	--banner-color:  #545776;

	/*	NEUTRAL COLORS*/
	--white: #fff;
	--black: #000;
	--gray: #7F7F7F;

	/*	MEASURES */
	--default-padding: 1rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
button {
	cursor: pointer;
	font-weight: 600;
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: var(--primary-color);
}
.text-primary {
	color: var(--primary-color);
}