/* VARIABLES */
* {
	/* MAIN COLOR PALETTE */
	--primary-color: #F0572D;
	--secondary-color: #31363F;
	--secondary-accent-color: #191B1D;
	--accent-color: #DFE4EA;

	/*	NEUTRAL COLORS*/
	--white: #fff;
	--black: #000;
	--gray: #7F7F7F;


}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

